#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	make -C roms/seabios
	rm -rf build-package
	mkdir build-package
	cd build-package && ../configure \
		--prefix=/usr \
		--libdir=/usr/lib/x86_64-linux-gnu \
		--target-list=i386-softmmu,x86_64-softmmu \
		--without-default-features \
		--enable-system \
		--enable-kvm \
		--enable-tcg \
		--enable-sdl \
		--enable-slirp \
		--audio-drv-list=sdl \
		--disable-docs \
		--disable-tools \
		--disable-guest-agent

override_dh_auto_build:
	ninja -C build-package

override_dh_auto_test:
	python3 tests/qmx/test-qmx-parser.py build-package/qemu-system-x86_64
	python3 tests/qmx/test-qmx-integration.py build-package/qemu-system-x86_64

override_dh_auto_install:
	install -Dm0755 build-package/qemu-system-x86_64 debian/qemu-qmx/usr/bin/qemu-system-x86_64
	install -Dm0755 build-package/qemu-system-i386 debian/qemu-qmx/usr/bin/qemu-system-i386
	install -Dm0644 roms/seabios/out/bios.bin debian/qemu-qmx/usr/share/qemu/bios-qmx.bin
	install -Dm0644 QMX_VERSION debian/qemu-qmx/usr/share/doc/qemu-qmx/QMX_VERSION
	install -Dm0644 docs/QMX_Format_Specification_v0.2.md debian/qemu-qmx/usr/share/doc/qemu-qmx/QMX_Format_Specification_v0.2.md
	install -Dm0644 docs/QMX_Minimum_Implementation_Requirements_v0.1.md debian/qemu-qmx/usr/share/doc/qemu-qmx/QMX_Minimum_Implementation_Requirements_v0.1.md
	install -Dm0644 docs/releases/QMX_0.9.0-beta.1.md debian/qemu-qmx/usr/share/doc/qemu-qmx/QMX_0.9.0-beta.1.md

override_dh_auto_clean:
	rm -rf build-package
	$(MAKE) -C roms/seabios clean || true
	dh_auto_clean
